/* Style buttons */
 .btn {
  background-color: white;
  border: none;
  color: #0A4773;
  padding: 15rem 10;
  cursor: pointer;  
  font-size: .975rem;
} 

/* Darker background on mouse-over */
 .btn:hover {
  background-color: DodgerBlue;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
  text-decoration: none;
} 

/* body {
	counter-reset: conferenceProceedingsPaperCounter journalPaperCounter workingPaperCounter teachingCounter thesisCounter; /* Set multiple counters named 'paperCounter', 'teachingCounter', etc, and their initial value is 0. 
	
} 
*/



/* Conference Proceedings Paper counter */
conferenceProceedingsPaper:before {
	counter-increment: conferenceProceedingsPaperCounter; /* Increment the value of conferenceProceedingsPaper counter by 1 */
	content: "[CP" counter(conferenceProceedingsPaperCounter)"] "; /* Display it in form word '[conferenceProceedingsPaperCounter] ' */
}

/* Journal Papers counter */
journalPaper:before {
	counter-increment: journalPaperCounter; /* Increment the value of journalPaper counter by 1 */
	content: "[J" counter(journalPaperCounter)"] "; /* Display it in form word '[journalPaperCounter] ' */
}

/* Working Papers counter */
workingPaper:before {
	counter-increment: workingPaperCounter; /* Increment the value of workingPaper counter by 1 */
	content: "[WP" counter(workingPaperCounter)"] "; /* Display it in form word '[WPworkingPaperCounter] ' */
}

/* Teaching Materials counter */
teachingMaterials:before {
	counter-increment: teachingCounter; /* Increment the value of teachingCounter counter by 1 */ 
	content: "[T" counter(teachingCounter)"] "; /* Display it in form word '[TteachingCounter] ' */
}

/* Theses counter */
thesis:before {
	counter-increment: thesisCounter; /* Increment the value of thesis counter by 1 */ 
	content: "[Th" counter(thesisCounter)"] "; /* Display it in form word '[thesisCounter] ' */ 
}

