/* Style buttons */
 .btn {
  background-color: white;
  border: 1px solid #0A4773;
  border-radius: .2rem;  
  color: #0A4773;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  padding-top: 0.4px;
  padding-right: 0.4rem;
  padding-bottom: 0.4px;
  padding-left: 0.4rem;
  text-align: center;
  text-decoration: none;  
  transition-duration: 0.4s;
  /* background-color: white;
  border: 1px solid #0A4773;
  border-radius: .2rem;
  cursor: pointer;  
  font-size: 1rem;
  color: #0A4773;
  padding-top: 0.4px;
  padding-right: 0.4rem;
  padding-bottom: 0.4px;
  padding-left: 0.4rem; */
} 

/* Darker background on mouse-over */
 .btn:hover {
  background-color: #0A4773; 
  color: white;
  /* A nice color is DodgerBlue */
}

.btn.focus, .btn:focus, .btn:hover {
  color: #0A4773;
  text-decoration: none;
} 

.button2 {
  background-color: white; 
  border: 1px solid #0A4773;
  border-radius: .2rem;  
  color: #0A4773;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  padding-top: 0.4px;
  padding-right: 0.4rem;
  padding-bottom: 0.4px;
  padding-left: 0.4rem;
  text-align: center;
  text-decoration: none;  
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #0A4773;
  color: white;
}

/* body {
	counter-reset: conferenceProceedingsPaperCounter journalPaperCounter workingPaperCounter teachingCounter thesisCounter; /* Set multiple counters named 'paperCounter', 'teachingCounter', etc, and their initial value is 0. 
	
} 
*/



/* Conference Proceedings Paper counter */
conferenceProceedingsPaper:before {
	counter-increment: conferenceProceedingsPaperCounter; /* Increment the value of conferenceProceedingsPaper counter by 1 */
	content: "[CP" counter(conferenceProceedingsPaperCounter)"] "; /* Display it in form word '[conferenceProceedingsPaperCounter] ' */
}

/* Journal Papers counter */
journalPaper:before {
	counter-increment: journalPaperCounter; /* Increment the value of journalPaper counter by 1 */
	content: "[J" counter(journalPaperCounter)"] "; /* Display it in form word '[journalPaperCounter] ' */
}

/* Working Papers counter */
workingPaper:before {
	counter-increment: workingPaperCounter; /* Increment the value of workingPaper counter by 1 */
	content: "[WP" counter(workingPaperCounter)"] "; /* Display it in form word '[WPworkingPaperCounter] ' */
}

/* Teaching Materials counter */
teachingMaterials:before {
	counter-increment: teachingCounter; /* Increment the value of teachingCounter counter by 1 */ 
	content: "[T" counter(teachingCounter)"] "; /* Display it in form word '[TteachingCounter] ' */
}

/* Theses counter */
thesis:before {
	counter-increment: thesisCounter; /* Increment the value of thesis counter by 1 */ 
	content: "[Th" counter(thesisCounter)"] "; /* Display it in form word '[thesisCounter] ' */ 
}

